@media (max-width: 1200px){
    .container{
        flex-wrap: wrap;
        min-height: 90vh;
        width: 70%;
        margin-top: 5%;
    }        
    .right{        
        position: absolute;
        margin-left: 55%;
        margin-top: 30px;
        width: 50%;        
    }
    .box{
        position: absolute;
        left:-12vh;
        top:37vh;    
        width: 25vh;    
        cursor: pointer;
        transition: 1s;
        z-index: 1;
    }
}
@media (max-width: 950px){
    .container{
        width: 80%;
    }   
}
@media (max-width: 780px){
    .container{
        width: 97%;
    }
    .right{
        margin-left: 60%;
        width: 50%;
    }
    .left{
        width: 90%;
    }
}
@media (max-width: 680px){
    .container{
        margin-top: 20vh;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 90%;
        max-height: 30%;
        padding-bottom: 20px;       
    }
    .left{
        display: none;
        max-height: 0;
    }
    .left1{       
        justify-content: center;
        top:-20%;
    }
    .left1 img{
        display: flex;
        width:80%;
        max-height: 100%;      
    }
    .img1{
        position: absolute;
        top:58%;       
    }
    .right{
        justify-content: center;       
        margin-left:7%;
        width: 100%;
    }
    h1{
        margin-bottom: 70px;
        align-self: center;
        font-size: 40px;
    }
    p{    
        max-width: 93%;   
    }
}